.card_style{
  width: 45%;
  height: 50rem;
  margin-left: 3rem;
  margin-top: 1rem;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  background-color: #eaeaea;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  height:85%;
  margin-top: 1rem;
}

.hover{
  box-shadow: 0 8px 8px 0 rgba(255, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card_text{
  margin-top: 1.5rem;
}