.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.column-left-reviews{
  float: left;
  padding: 10px;
  height: auto;
  width: 12%;
}

.column-left-intervies{
  float: left;
  height: auto;
  width: 50%;
}

.column-right-intervies{
  float: left;
  height: auto;
  width: 50%;
}

.column-left-reviews-one{
  float: left;
  padding: 10px;
  height: auto;
  width: 5%;
}

.sr-column-left-1 {
  float: left;
  width: 210px;
  height: auto;
}
.sr-column-middle-1 {
  float: left;
  width: 210px;
  margin-left: -203px;
  height: auto;
}
.sr-column-right-1 {
  float: left;
  width: 210px;
  margin-left: -35px;
  height: auto;
}

.column-right-reviews{
  float: none;
  margin-left: 70px;
  padding: 10px;
  height: auto;
  width: 88%;
}

.column-left-add-reviews{
  float: left;
  padding: 10px;
  height: 100%;
  width: 65%;
}

.column-right-add-reviews{
  float:left;
  padding: 10px;
  height: 100%;
  width: 35%;
}